name: Run Tests

on:
  pull_request:
    branches: [main]

env:
  ZIG_VERSION: 0.15.2

jobs:
  unit:
    runs-on: ubuntu-latest
    name: Unit
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
      - run: zig build test
  language:
    runs-on: ubuntu-latest
    name: Language
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
      - run: zig build lang_test
